# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# rust
rust/target
rust/**/*.rs.bk
rust/Cargo.lock
rust/bin/
rust/pkg/
rust/wasm-pack.log

rust/harness/target
rust/harness/**/*.rs.bk
rust/harness/Cargo.lock
rust/harness/bin/
rust/harness/pkg/
rust/harness/wasm-pack.log

tmp.md
.DS_Store
rust/harness/test.md

**.ini

build
main.js